/*CSS Variables*/
@import url(./partials/variables.css);

@import url(./partials/global.css);

@import url(./responsive.css);
/* Start navigation bar */
.navbar-brand{
    padding-left: 50px;
    background: linear-gradient(90deg, #2ca308 0%, #ffcc00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    flex: display;
    border-radius: 1px;
    box-shadow: #053f74;
}
.nav-item{
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--poppins);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}
.main-menu{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: fixed;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bg-body-tertiary{
    background: linear-gradient(135deg, #c300ff 0%, #ebe2f7 10%, #ffffff 50%, #bce9ff 95%, #053f74 100%);
}

/* End navigation bar */